@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Client App 1</h1>
    <table>
        <caption>User claims</caption>
        <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Issuer</th>
            <th>ValueType</th>
        </tr>
        @foreach (var claim in User.Claims)
        {
            <tr>
                <td>@claim.Type</td>
                <td><b>@claim.Value</b></td>
                <td>@claim.Issuer</td>
                <td>@claim.ValueType</td>
            </tr>    
        }
    </table>
</div>

<table>
    <caption>Tokens</caption>
    <tr>
        <td>Access Token</td>
        <td>@ViewData["access_token"]</td>
    </tr>
    <tr>
        <td>Id Token</td>
        <td>@ViewData["id_token"]</td>
    </tr>
</table>